<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color:cornsilk
        }
    </style>
</head>

<body>
    <form action="/user_bookings" method="GET">
    <h3>if you want to see your previous booking so click privious botton</h3>
    <label for="uid"><b>Enter once user id</b></label>
    <input type="text" placeholder="Enter Email" name="uid" required>
    <br>
    <button>
        <input type="submit" value="Privious">
        <!-- <a href="http://localhost:3001/user_bookings">Privious</a> -->
    </button>
</body>

</html>